@charset "UTF-8";
/*****************/
/**** reset *****/
/*****************/
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

code {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: Lato, "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  overflow-x: hidden;
  background-color: black;
}

a {
  display: block;
  text-decoration: none;
  transition: all 0.6s ease;
  color: #333;
}
a:hover {
  opacity: 0.6;
}

.no-link {
  pointer-events: none !important;
}
.no-link * {
  pointer-events: none !important;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

img {
  height: auto;
}

.chlang {
  display: flex;
  margin: 10px;
}
.chlang select {
  color: #333 !important;
  border-radius: 0 !important;
}
.chlang button {
  background-color: hotpink;
  border: none;
  color: white;
  border-radius: 0 !important;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  background-color: black;
  width: 100%;
}
header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
header.active {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid hotpink;
  z-index: 50;
}
header .logo h1 {
  font-size: 24px;
  color: white;
}
header .logo h1 span {
  margin-left: 10px;
  font-size: 16px;
  color: hotpink;
}
header nav ul li a {
  color: white;
  font-size: 1.4rem;
}

main .hero {
  width: 100%;
  aspect-ratio: 1920/600;
}
main .hero-slider {
  width: 100%;
}
main .hero-slider__item {
  height: 100%;
}
main .hero-slider__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
main .hero-slider .slick-arrow {
  display: none !important;
}
main .livehouse {
  margin-top: 20px;
}
main .livehouse_ttl {
  position: relative;
  padding: 5px 5px 5px 42px;
  background: hotpink;
  font-size: 18px;
  color: white;
  margin-left: -33px;
  line-height: 1.3;
  white-space: nowrap;
}
main .livehouse_ttl:before {
  position: absolute;
  content: "";
  left: -2px;
  top: -2px;
  border: none;
  border-left: solid 40px black;
  border-bottom: solid 79px transparent;
}
main .livehouse_list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}
main .livehouse_list li {
  margin-right: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
}
main .livehouse_list li::before {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  margin-right: 10px;
  border-left: 2px solid mediumvioletred;
  border-bottom: 2px solid mediumvioletred;
  transform: rotate(-45deg);
}
main .form {
  margin-top: 40px;
}
main .form_ttl {
  font-size: 16px;
  text-align: center;
  color: white;
}
main .form form {
  margin: 30px auto 0;
  width: 300px;
}
main .form form label {
  display: none;
}
main .form form p {
  display: block;
  width: 100%;
  margin: 0 auto;
}
main .form form input[type=date] {
  margin: 0 auto;
  width: 100%;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  padding: 0.8em 1em;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .form form input[type=submit] {
  margin-top: 20px;
  background-color: deeppink;
  box-shadow: 0 5px 0 hotpink;
  transition: all 0.6s ease !important;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.2em;
  width: 300px;
  height: 50px;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.6s ease;
}
main .form form input[type=submit]:hover {
  transform: translateY(5px);
  box-shadow: none;
}
main .date {
  width: 300px;
  text-align: center;
  margin: 50px auto 0;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 3px solid crimson;
  color: white;
}
main .event-list {
  max-width: 700px;
  margin: 30px auto;
}
main .event-list_item {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  transition: all 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 20px;
  margin-bottom: 20px;
}
main .event-list_h2 {
  font-size: 30px;
  text-align: center;
}
main .event-list a {
  margin-top: 10px;
  font-size: 14px;
  color: #0000EE;
  text-decoration: underline;
  text-align: center;
}
main .event-list_body {
  margin-top: 20px;
}
main .event-list-ttl {
  font-size: 20px;
  text-align: center;
}
main .event-list-performers {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
main .event-list-content {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
main .event-list-img {
  margin-top: 20px;
}
main .event-list-img img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
main .notice_ttl {
  position: relative;
  padding: 5px 5px 5px 42px;
  background: hotpink;
  font-size: 20px;
  color: white;
  margin-left: -33px;
  line-height: 1.3;
}
main .notice_ttl:before {
  position: absolute;
  content: "";
  left: -2px;
  top: -2px;
  border: none;
  border-left: solid 40px black;
  border-bottom: solid 79px transparent;
}
main .notice_list {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
main .notice_list li {
  line-height: 1.6;
  margin-right: 30px;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
  color: white;
  font-size: 16px;
}
main .notice_list li::before {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  margin-right: 10px;
  margin-top: 9px;
  border-left: 2px solid mediumvioletred;
  border-bottom: 2px solid mediumvioletred;
  transform: rotate(-45deg);
}
main .sns {
  margin-top: 50px;
}
main .sns-here {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}
main .sns-here img {
  margin-left: 15px;
}

footer {
  margin-top: 50px;
  border-top: 1px solid hotpink;
  padding: 20px;
}
footer p {
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

span#toTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 50%;
  background-color: white;
  width: 70px;
  height: 70px;
  display: block;
  transition: all 0.6s ease;
  font-size: 20px;
  text-align: center;
  line-height: 70px;
  transform: translateY(150%);
  cursor: pointer;
  border: 1px solid black;
}
span#toTop.active {
  transform: translateX(0);
}

.sp_only {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .pc_only {
    display: none !important;
  }
  .sp_only {
    display: block !important;
  }
  header .logo h1 span {
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }
  .sp-nav_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  nav.sp-nav.sp_only {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex !important;
    transform: translateX(100%);
    transition: all 0.6s ease;
    display: none !important;
  }
  nav.sp-nav.sp_only.active {
    transform: translateX(0);
  }
  nav.sp-nav.sp_only ul {
    width: 300px;
    margin: auto;
  }
  nav.sp-nav.sp_only ul li {
    color: white;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    text-align: center;
  }
  .hamburger-menu {
    width: 50px;
    height: 50px;
    position: fixed;
    border: none;
    background: transparent;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 0;
    cursor: pointer;
    top: 10px;
    right: 10px;
    z-index: 100;
    background-color: white;
    border-radius: 50%;
    display: none !important;
  }
  .hamburger-menu__bar {
    display: inline-block;
    width: 44%;
    height: 2px;
    background: #242424;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  .hamburger-menu__bar:first-child {
    top: 16px;
  }
  .hamburger-menu__bar:nth-child(2) {
    top: 24px;
  }
  .hamburger-menu__bar:last-child {
    top: 32px;
  }
  .hamburger-menu--open .hamburger-menu__bar {
    top: 50%;
  }
  .hamburger-menu--open .hamburger-menu__bar:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */